
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');
  * {
    font-family: 'IBM Plex Sans KR', sans-serif;
  }

/*  overflow 속성 */
.right-body {
	overflow-y: auto;
}
/* overflow 스크롤 숨기 */
.right-body::-webkit-scrollbar {
    display: none;
}


/* a태그 공통 설정 */
.right-body a{
    text-decoration: none;
    color : black;
}

.right-body a:hover{
    text-decoration: underline;
}

 profile-img {
	width : 50px;
	height : 50px;
} 

.commentDetail {
	display: flex;
	border-top: 1px solid #ccc;
	background-color: red;

	
}


.commentDetail > div:nth-of-type(1) {
	flex-basis: 15%;
	padding: 10px;
}

.commentDetail > div:nth-of-type(2) {
	flex-basis: 60%;
	padding: 10px 0px 10px 0px; 
}

.commentDetail > div:nth-of-type(3) span:nth-of-type(1) {
	font-size: smaller;
  	color: #aaa;
}

.commentDetail > div:nth-of-type(3) {
	flex-basis: 10%
}

.commentDetail > div:nth-of-type(4) {
	display:flex;	
	flex-basis: 15%;
	padding-top: 25px;
	padding-bottom: 25px;
}

#updateCommentButton, #deleteCommentButton {
	
}

.insertComment {
	display: flex;
	height: 70px;
}

.insertComment > div:nth-of-type(1) {
	flex-basis:90%;
	
}

#insertCommentContent {
	width: 100%;
	border-color:#ccc;
	resize:none;
	height:100%;
}

.insertComment > div:nth-of-type(2) {
	flex-basis:10%;
	
}

#insertCommentBtn {
	width: 100%;
	height:100%;
}
	
/* 페이지네이션(Pagination) */
.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    /* letter-spacing : -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: #55710f;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}	

/* 보드 디테일 */
.boardBox{
	border: 1px solid  rgba(32, 33, 36, .28);
	border-radius: 5px;
	width: 800px;
	height: 690px;
	padding: 6px 6px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.boardBox div {
	/* border: 1px solid  rgba(32, 33, 36, .28); */
	/* border-radius: 5px; */
	margin: 5px 5px 5px 5px;
}
.boardBoxHeader{
	flex-basis: 10%;
	text-align: left;
	font-size: smaller;
	font-weight: 500;
    padding: 0px 15px;
    color: green;
    line-height: 62px;
	
}
.boardBoxTitle{
	background-color: rgba(32, 33, 36, .28);
	flex-basis: 12% ;
	border-radius: 5px;
	vertical-align: middle;
	line-height: 75px;
    color: white;
	font-weight: 700;
}

.boardBoxContent > img{
	height:100%;
	width:100%;
	
}
.boardBoxEtc{
	flex-basis: 8%;
	display: flex;
	font-weight: 100;
    font-size: smaller;
    padding: 15px;
}
.boardBoxEtc :nth-of-type(1){
	flex-basis: 25%;
}
.boardBoxEtc :nth-of-type(2){
	flex-basis: 50%;
}
.boardBoxEtc :nth-of-type(3){
	flex-basis: 15%;
}
.boardBoxEtc :nth-of-type(4){
	flex-basis: 10%;
}
.boardBoxContent{
	border-top: 3px solid rgb(67, 101, 86);
	flex-basis: 70%;
	padding: 20px 2px;
}

/* **************** */


