  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');
  * {
    font-family: 'IBM Plex Sans KR', sans-serif;
  }

/* a태그 공통 설정 */
.right-body a{
    text-decoration: none;
    color : black;
}

.right-body a:hover{
    text-decoration: underline;
}

#boardList{
    padding: 6px 12px;
    border: 1px solid white;
    border-top: none;
    width: 800px;
    height: 500px;
   	margin: auto;
}

.boardListTable {
    width: 100%;
  }
  
.boardListTable tr{
  line-height: 2;
}

.boardListTable td{
  text-align: center;
}

.boardListTable td a{
  text-decoration: none;
  color: black;
}

.boardListTable td a:hover{
  text-decoration: none;
  color: black;
  font-weight: bold;
}



/* 페이지네이션(Pagination) */
.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    /* letter-spacing : -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: #55710f;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}


/* FAQ 검색 창 */
  
.FAQ-text {
  display: flex;
  color:rgba(32, 33, 36, .28);
  padding-top: 50px;
  margin-left: 180px;
  color: black;
  font-weight: 700;
  font-size: x-large;

}

.FAQ-search-fieldset {
  border: 2px solid rgba(32, 33, 36, .28);
  border-radius: 20px;
  width: 600px;
  margin-left: 180px;
  padding: 2px;

  display: flex;
}
#search-key{
  display: none;
}

#search-query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;

  border: none;
  outline: 0;

  width: 92%;
}

#FAQ-search-btn {
  width: 8%;

  cursor: pointer;

  font-size: 1.2em;
  color: #333;
  background-color: transparent;

  border: 0;
}

/* FAQ 게시판 스타일*/

.faqSection {
  border-radius: 2px;
  box-shadow : 7px 8px 10px 0px #666;
	border-top: 22px solid #55710f;
  border-left: 9px solid var(--cr-primary-text-color);
  border-right: 9px solid var(--cr-primary-text-color);
  border-bottom: 9px solid var(--cr-primary-text-color);
	margin: 40px;
}

.FAQTitle {
            width: 300px;
            height: 30px;
            color: #666;
            margin: 16px 16px;
            border-radius: 10px;
            font: normal 16px/1.7 '굴림',Gulim, '돋움', Dotum, AppleGothic, Sans-serif;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
}

p.contents {
            display: none; /* 화면에서 보이지 않음 */
            border-top: 2.5px solid lightgray;
            height: 200px;
            padding: 40px;
}


