/* a태그 공통 설정 */
.right-body a{
    text-decoration: none;
    color : black;
}

.right-body a:hover{
    text-decoration: underline;
}

#boardList{
    padding: 6px 12px;
    border: 1px solid white;
    border-top: none;
    width: 700px;
}

.boardListTable {
    width: 100%;
  }
  
.boardListTable tr{
  line-height: 2;
}

.boardListTable td{
  text-align: center;
}

.boardListTable td a{
  text-decoration: none;
  color: black;
}

.boardListTable td a:hover{
  text-decoration: none;
  color: black;
  font-weight: bold;
}



/* 페이지네이션(Pagination) */
.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    /* letter-spacing : -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: #55710f;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}


/* FAQ 게시판 스타일*/
.FAQTitle {
            width: 300px;
            height: 30px;
            background-color: yellowgreen;
            color: orangered;
            border-radius: 10px;
            text-align: center;
            line-height: 30px;
            border: 1px solid green;
            cursor: pointer;
}

p.contents {
            border: 1px solid lightgray;
            width: 300px;
            height: 200px;
            display: none; /* 화면에서 보이지 않음 */
}
