* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 1140px;
  margin: auto;
}

/********************** 헤더 부분**********************************/

header {
  height: 130px;
  display: flex;
  border-bottom: 1px solid #55710f;
}

/* 로고 영역 */
header > section:nth-child(1) {
  flex-basis: 20%;

  border-right: 1px solid #55710f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-logo {
  width: 120px;
  height: 100px;
}

/* 검색영역 */
header > section:nth-child(2) {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area {
  width: 500px;
}

.search-area fieldset {
  padding: 2px;
  margin: 0;
  border: 2px solid #55710f;
  border-radius: 20px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;

  border: none;
  outline: none;
  width: 92%;
}

#search-btn {
  width: 8%;
  cursor: pointer;
  font-size: 1.2em;
  color: #55710f;
  background-color: transparent;
  border: 0;
}

/* 로그인 회원가입 영역 */
header > section:nth-of-type(3) {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  padding-right: 10px;
  text-decoration: none;
  color: #55710f;
}

#signup {
  text-decoration: none;
  border: 6px solid #55710f;
  border-radius: 25px;
  background-color: #55710f;
  color: white;
}

/********************** 바디 부분*******************************/

/* 큰 바디부분 */

.body {
  display: flex;
  height: 980px;
}

.left-body {
  flex-basis: 215px;
  border-right: 1px solid #55710f;
  flex-direction: column;
}

.left-body article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.left-body a {
  color: #55710f;
  text-decoration: none;
}

nav > ul {
  display: flex;
  color: #55710f;
  flex-direction: column;
  list-style: none;
  width: 216px;
}

nav li:first-of-type {
  border-top: 1px solid #55710f;
}

nav li {
  border-bottom: 1px solid #55710f;
  height: 40px;
  padding-top: 8px;
}

nav a {
  color: #55710f;
  text-decoration: none;
}

nav ul li table td {
  color: white;
}

.right-body {
  flex-basis: 75%;
}

.hashtag {
  display: flex;
}

.hashtag ul {
  display: flex;
  list-style: none;
}

.right-body article:first-of-type {
  color: black;
  justify-content: center;
}

.hashtag a {
  padding-right: 40px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* FAQ 검색 창 */

.FAQ-text {
  display: flex;
  color: #55710f;
  padding-top: 50px;
  margin-left: 180px;

}

.FAQ-search-fieldset {
  border: 2px solid #55710f;
  border-radius: 20px;
  width: 600px;
  margin-left: 180px;
  padding: 2px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;

  border: none;
  outline: 0;

  width: 92%;
}

#FAQ-search-btn {
  width: 8%;

  cursor: pointer;

  font-size: 1.2em;
  color: #55710f;
  background-color: transparent;

  border: 0;
}

/*FAQ 카테고리 */

.category-article {
  margin-top: 50px;
  margin-left:50px;
  display: flex;
}
.category {
  display: block;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 10px;
  width: 130px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: large;
  text-decoration: none;
  color: #55710f;
  font-weight: bold;
}

.category-article a:hover{
  color: white;
  background-color: #55710f;
  transition: 0.7s;
}
#content{
  display: block;
}
.FAQ-board {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 6px 12px;
  margin-top: 20px;
  margin-left: 50px;
  border: 2px solid #55710f;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  display: none;
}
  
.FAQ-container {
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 150px;
  height: 200%;
}

.FAQ-Ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.FAQ-board :nth-of-type(1){
  font-weight: bold;
  font-size: 15px;
}


.FAQ-board ul :nth-of-type(1){
  flex-basis: 15%;
 }

 .FAQ-board ul :nth-of-type(2){
  flex-basis: 45%;
 }

 .FAQ-board ul :nth-of-type(3){
  flex-basis: 10%;
 }

 .FAQ-board ul :nth-of-type(4){
  flex-basis: 10%;
 }

 .FAQ-board ul :nth-of-type(5){
  flex-basis: 10%;
 }

 .p {
  display: none;
  text-align: center;
 }


/********************** 푸터 부분**********************************/
footer {
  background-color: #d0d3c6;
  height: 150px;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 30px;
  /* margin-top: 50px; */
}

footer p {
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: black;
}
