  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');
  * {
    font-family: 'IBM Plex Sans KR', sans-serif;
  }

.confirm{ color : green;}
.error{  color : red;  }

.pwFind-message{
    font-size: 12px;
    letter-spacing: -1px; /* 자간 */
}

