* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
}
  
main {
    width: 1140px;
    margin: auto;
}
  
/*****************************헤더 부분 시작*******************************/
header {
    height: 130px;
    display: flex;
    border-bottom: 1px solid #55710f;
}
  
/* 로고 영역 */
header > section:nth-child(1) {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#home-logo {
    width: 120px;
    height: 100px;
    margin-left: 510px;
}
  
.sign-in-text {
    display: flex;
    justify-content: center;
}

/****************************바디 부분 시작***********************************/

.content{

    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.content-2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}


#sign-in-area{
    width: 500px; 
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    border-radius: 20px;
    border: 1px solid gray;
    
}

.input-text{
    
    border: none;
    outline : 0;
    width: 200px;
    height: 40px;
    font-size: large;
    background-color:rgb(240, 244, 240);
}

/*아이디 입력창*/
#id-area{

    width: 350px;
    height: 55px;
    border:1px solid rgb(240, 244, 240);
    border-radius: 10px;
    background-color:rgb(240, 244, 240);
}

/*비밀번호 입력창*/
#pw-area{
    width: 350px;
    height: 55px;
    border:1px solid rgb(240, 244, 240);
    border-radius: 10px;
    background-color:rgb(240, 244, 240);    
}


/*로그인 버튼부분*/
.signInBtn-article{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
}
.signInBtn{
    border: 1px solid #55710f; 
    background-color: #55710f;
    color: white;
    border-radius: 8px;
    font-size: large;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    cursor: pointer;
}

/*비밀번호 찾기/ 아이디 찾기/ 회원가입*/

.id-pw-found{
    display: flex;
    justify-content: center;
     
}

.found{
    padding-left: 25px;
    text-decoration: none;    
    color: black;
}



/*카카오로 로그인하기 부분 article*/

.sign-in-article-1{

    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 120px;
  
}

.sign-in-article-1 a {
    text-decoration: none;
} 


/*카카오로 로그인 버튼*/
.kakao-signin{

    border: 1px solid yellow;
    background-color: yellow;
    color: black;
    width: 300px;
    height:40px;
    font-size: large;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 8px;

    
}


body > ul{
    list-style: none;
}

#text-balloon {

    display:flex;
    padding-right: 20px;
    padding-top: 2px;
    
}

/*******************************************푸터*******************************************/
footer {
    background-color: #d0d3c6;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 30px;
  }
  
  footer p {
    font-weight: bold;
  }
  footer a {

    text-decoration: none;
    color: black;
  }
  






