  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');
  * {
    font-family: 'IBM Plex Sans KR', sans-serif;
  }


.login-content{
    display: flex;
    justify-content: center;
    
    
}

.villageHall{

    font-size : 30px;
    font-weight: bold;
    color:#55710F;
    display: flex;
    justify-content: center;
    padding-bottom: 5px; 
}

#input-area {
    width: 350px;
    height: 40px;
    background-color: rgb(240, 244, 240);
    border: 1px  rgb(240, 244, 240);
    margin-bottom: 8px;

}


