* {
  box-sizing: border-box;
font-family: 'IBM Plex Sans KR', sans-serif;;

}

html{
	position: relative;
	min-height: 600px;;
}

body {
  margin: 0;
  padding: 0;
  
  height: calc(100vh -150px);
  
  margin-bottom: 150px;
}

main {
  width: 1140px;
  height: auto;
  margin: auto;
  min-height: 100%
}

header {
  height: 130px;
  display: flex;
  border-bottom: 1px solid #55710f;
}

/* 로고 영역 */
header > section:nth-child(1) {
  flex-basis: 20%;

  border-right: 1px solid #55710f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-logo {
  width: 150px;
  height: 120px;
}

/* 검색영역 */
header > section:nth-child(2) {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area {
  width: 600px;
  padding-left: 50px;
}

.search-area fieldset {
  padding: 2px;
  margin: 0;
  border: 2px solid #55710f;
  border-radius: 20px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;

  border: none;
  outline: none;
  width: 92%;
}

#search-btn {
  width: 8%;
  cursor: pointer;
  font-size: 1.2em;
  color: #55710f;
  background-color: transparent;
  border: 0;
}

/* 로그인 회원가입 영역 */
/* 로그아웃 추가 */
header > section:nth-of-type(3) {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  margin-right: 5px;
  text-decoration: none;
  color: #55710f;
  border: 2px solid #55710f;
    border-radius: 15px;
      padding: 5px;
   width: 75px;
  height: 30px;
}

#login:hover{
  text-decoration: none;
/*   font-weight: bold; */
  border: 1px solid #55710f;
  border-radius: 15px;
  background-color: #55710f;
  color: white;
  padding: 5px;
   width: 75px;
  height: 30px;
  
	
}

#signup {
	text-decoration: none;
  border: 1px solid #55710f;
  border-radius: 15px;
  background-color: #55710f;
  color: white;
  width: 75px;
  height: 30px;
  padding: 2px 1px 0 6px ;
}


#logout {
  margin-right: 5px;
  text-decoration: none;
  color: #55710f;
    border: 2px solid #55710f;
      border-radius: 15px;
          padding: 5px 5px 5px 5px;
     /*  padding: 5px; */
   width: 90px;
  height: 30px;
}

#user-name {
  border: 1px solid #55710f;
  border-radius: 15px;
  background-color: #55710f;
  color: white;
  padding: 2px 5px 2px 5px;
}

#logout:hover {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #55710f;
  border-radius: 15px;
  background-color: #55710f;
  color: white;
    padding: 5px 5px 5px 5px;
}


/* 큰 바디부분 */

.body {
  display: flex;
  height: auto;
  
}


.left-body {
	height: auto;
	position: relative;	
  flex-basis: 20%;
  border-right: 1px solid #55710f;
  flex-direction: column;
  
}

.left-body article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}


.left-body a {
  text-decoration: none;
  color: #55710f;
}

.profile-area{
	display:flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
	
}

/* 반응형 웹 */
@media (max-width:1100px){ /*가로 너비가 1100px 이하일 때 아래 스타일 적용*/
  .left-body {
    display: none;
}
}

/* 프로필 이미지 */
#left-profile-image{
    width: 150px;
    height: 150px;
    border : 1px solid #55710f;
    border-radius: 50%;
}

#profile-info-area{
	display:flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	
  	
}



#writeBtn {
  text-decoration: none;
  border: 0;
  border-radius: 10px;
  background-color: #55710f;
  color: white;
  
  font-size:16px;
  padding: 3px 10px;
  margin-top : 6px;
  
  cursor: pointer;
	
}


/* 네비 */

nav > ul {
  display: flex;
  color: #55710f;
  flex-direction: column;
  list-style: none;
}

nav li:first-of-type {
  border-top: 1px solid #55710f;
}

nav li {
  border-bottom: 1px solid #55710f;
  height: 40px;
  padding-top: 8px;
}

nav a {
  color: #55710f;
  text-decoration: none;
}

nav ul li table td {
  color: white;
}

.right-body {
  width : 912px;
  height: auto;
  flex-basis: 80%;
  border: none;


  display: flex;
  flex-direction: column;
  padding: 20px 0px 10px 30px;
  position: relative;
  margin: auto;
  
}

/* ----------------- 푸터----------------- */

footer {
	position: static;
  background-color: #d0d3c6;
  height: 150px;

  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 30px;
  
  bottom: 0;
  left:0;
  width: 100%;
  
  position: absolute;
  
  
}

footer p {
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: black;
}
