* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
}
  
main {
    width: 1140px;
    margin: auto;
}
  
/************************헤더 부분 시작**************************/
header {
    height: 130px;
    display: flex;
    border-bottom: 1px solid #55710f;
}
  
/* 로고 영역 */
header > section:nth-child(1) {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#home-logo {
    width: 120px;
    height: 100px;
    margin-left: 510px;
}
  
.sign-in-text {
    display: flex;
    justify-content: center;
}

/****************************바디 부분 시작***********************************/


.content-2{

    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.pw-find-text{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


#pw-find-area{
    
    width: 500px; 
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin-bottom: 150px;
    border-radius: 20px;
    border: 1px solid gray;

    
}



/* 아이디 찾기 section*/

.input-text{
    background-color: rgb(240, 244, 240);
    border: 0;
    outline: 0;
    width: 250px;
    
}

#id-area {
    background-color: rgb(240, 244, 240);
    border: 0;
    border-radius: 8px;
 
}


/* 다음 버튼*/

.pw-find-article{

    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
    
}

.pw-find-btn{
    width: 300px;
    height: 45px;
    font-size: large;
    background-color: lightgray;
    color: gray;
    border: 0;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
}


#next-a{
    text-decoration: none;
}





/******************************푸터*******************************************/
footer {
    background-color: #d0d3c6;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 30px;
  }
  
  footer p {
    font-weight: bold;
  }
  footer a {

    text-decoration: none;
    color: black;
  }
  






