* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
}
  
main {
    width: 1140px;
    margin: auto;
}

.confirm{
    color : green;
    font-size: x-small;   
}

.error{
    color: red;
    font-size: x-small;
}
  
/************헤더 부분 시작***********/
header {
    height: 130px;
    display: flex;
    border-bottom: 1px solid #55710f;
}
  
/* 로고 영역 */
header > section:nth-child(1) {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#home-logo {
    width: 120px;
    height: 100px;
    margin-left: 510px;
}
  
.sign-up-text {
    display: flex;
    justify-content: center;
}

/**********바디 부분 시작***********/

.content{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.content-2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#sign-up-area{
    width: 600px; 
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    border-radius: 20px;
    
}

.input-text{
    width: 280px;
    height: 35px;
    background-color: rgb(240, 244, 240);
    border:solid 1px rgb(240, 244, 240);
    outline: 0;
    border-radius: 5px;
    
}

#email-check-btn{
    background-color: #55710F;
    color:white;
    border-radius: 5px;
    border: solid #55710F;
    width: 70px;
    cursor: pointer;
}







/*회원가입 버튼부분 article*/
.sign-up-article-1{

    display: flex;
    justify-content: center;
    padding-top: 10px;
     
}

/*회원가입 버튼*/
#signup-btn{
    width: 300px;
    height: 45px;
    background-color: #55710f;
    border: 1px solid #55710f;
    color: white;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    
}

/*카카오로 시작하기 부분 article*/
.sign-up-article-2{

    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 150px;

  }

.sign-up-article-2 a {
    text-decoration: none;
} 


/*카카오로 시작하기 버튼*/
.kakao-signup{
    border: 1px solid yellow;
    background-color: yellow;
    color: black;
    width: 250px;
    height:35px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    
    
}


body > ul{
    list-style: none;
}

#text-balloon {

    display:flex;
    padding-right: 20px;
    padding-top: 2px;
    
}

/*푸터*/
footer {
    background-color: #d0d3c6;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 30px;
  }
  
  footer p {
    font-weight: bold;
  }
  footer a {
    
    text-decoration: none;
    color: black;
  }
  






