<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--><!-- The contents of this file will be loaded for each web application -->
<Context workDir = "/Users/sujinchoi/workspace/villageHall/VillageHall/src/main/webapp/WEB-INF/jspwork">

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->
<!--
	DataBase Connection Poll (DBCP)
	- 미리 DB와 연결되어 있는 Connection을 일정 개수 만들어 두고
		클라이언트 요청 시 만들어둔 Connection을 빌려주고
		요청 처리 완료 시 다시 반환 받는 기법
		
	- 장점:
	1) 미리 Connection을 만들어두기 때문에 요청 시 속도가 빠름
	
	2) Connection 개수에 제한을 두어 DB에 과도하게 요청되는 경우를 방지
	
-->
	 <Resource
	 name="jdbc/oracle"
	 auth="Container"
	 type="javax.sql.DataSource"
	 driverClassName="oracle.jdbc.OracleDriver"
	 url="jdbc:oracle:thin:@112.220.137.37:1521:xe"
	 username="village"
	 password="village"
	 maxTotal="50"
	 maxIdle="10"
	 maxWaitMillis="-1"
	 />
	
	 <!--
	 name : JNDI 이름 Context의 lookup()을 사용하여 자원을 찾을때 사용한다. java:comp/env 디렉터리에서 찾을 수 있다.
	 auth : 자원 관리 주체 지정(Application 또는 Container)
	 type : Resource의 타입 지정
	 driverClassName : JDBC 드라이버 클래스 이름.
	 maxTotal : DataSource 에서 유지할 수 있는 최대 커넥션 수
	 maxIdle : 사용되지 않고 풀에 저장될 수 있는 최대 커넥션의 개수. 음수일 경우 제한이 없음
	 maxWaitMillis : 커넥션 반납을 기다리는 시간(-1은 반환될 때 까지 기다림)
	 -->
</Context>