/* a태그 공통 설정 */
.right-body a{
    text-decoration: none;
    color : black;
}

.right-body a:hover{
    text-decoration: underline;
}

img {
	width : 50px;
	height : 50px;
}

.commentDetail {
	display: flex;
	border-top: 1px solid #ccc;
	
}


.commentDetail > div:nth-of-type(1) {
	flex-basis: 15%;
	padding: 10px;
}

.commentDetail > div:nth-of-type(2) {
	flex-basis: 60%;
	padding: 10px 0px 10px 0px; 
}

.commentDetail > div:nth-of-type(3) span:nth-of-type(1) {
	font-size: smaller;
  	color: #aaa;
}

.commentDetail > div:nth-of-type(3) {
	flex-basis: 10%
}

.commentDetail > div:nth-of-type(4) {
	display:flex;	
	flex-basis: 15%;
	padding-top: 25px;
	padding-bottom: 25px;
}

#updateCommentButton, #deleteCommentButton {
	
}

.insertComment {
	display: flex;
	height: 70px;
}

.insertComment > div:nth-of-type(1) {
	flex-basis:90%;
	
}

#insertCommentContent {
	width: 100%;
	border-color:#ccc;
	resize:none;
	height:100%;
}

.insertComment > div:nth-of-type(2) {
	flex-basis:10%;
	
}

#insertCommentBtn {
	width: 100%;
	height:100%;
}
	
/* 페이지네이션(Pagination) */
.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    /* letter-spacing : -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: #55710f;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}	

/* newPost*/
#boardContainer {
	margin: 45px;
}

table{
	border: 1px solid rgba(32, 33, 36, .28);
	border-radius: 3px;
	width: 800px;
	height: 890px;
	padding: 6px 6px;
	text-align: center;
}

table tr :nth-of-type(1) {
	text-align: left;
	padding-left: 16px;
}

table tr:nth-of-type(1) {
	background-color: #25c481;
    color: #fff;
}

table tr:nth-of-type(4) {
	height:690px;
}
